html, body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

#container {
  width: 100%;
  text-align: center;
}

#header {
  font-family: calibri light;
  font-size: 20px;
}

#tb_modcode {
  margin-top: 4%;
  width: 80%;
  height: 10%;
  background-color: lightgray;
  border: 1px solid lightgray;
  text-align: center;
  font-family: calibri light;
  font-size: 20px;
}

#tb_modname {
  margin-top: 2%;
  width: 80%;
  height: 10%;
  background-color: lightgray;
  border: 1px solid lightgray;
  text-align: center;
  font-family: calibri light;
  font-size: 20px;
}

#table_container {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: calc(100vh * (30/100));
  overflow-y: scroll;
  border: 1px solid black;
  padding: 1px;
  font-family: calibri light;
}

#rec_container {
  margin-top: 4%;
  font-family: calibri light;
}

#btn_addmod {
  margin-top: 4%;
  border: none;
  background-color: rgb(255, 217, 102);
  font-family: calibri light;
}

#mod_table {
  width: 100%;
  font-family: calibri light;
}

